/* Estilo do corpo com gradiente estático */
body {
    background: linear-gradient(135deg, #001f3f, #00aaff); /* Gradiente de azul escuro a azul claro */
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilos do container e elementos */
.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
}

button {
    background-color: #0008ff;
    color: #a8caff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    background-color: #25006b;
}

button:active {
    transform: scale(0.98);
}

p {
    font-size: 18px;
    color: #000000;
    margin-top: 20px;
    min-height: 40px;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
