body {
    background: linear-gradient(135deg, #1100ff, #b8e7ff); 
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
}

button {
    background-color: #1100ff;
    color: #b8e7ff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    background-color: #25006b;
}

button:active {
    transform: scale(0.98);
}

.quote-box { /* Estilo para a caixa da frase */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com um pouco de transparência */
    color: #000; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Cantos arredondados */
    margin-top: 20px; /* Espaçamento acima da caixa */
    min-height: 40px; /* Altura mínima para a caixa */
    animation: fadeIn 0.5s ease-in-out; /* Animação de fade in */
    text-align: center; /* Centraliza o texto */
}

p {
    font-size: 18px;
    color: #000000;
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
